.pointer{
    cursor: pointer;
}
.navigation.col-lg-12{
    margin-top: 10px;
}
.jumbotron{
    padding: 40px;
    border-radius: 5px;
    box-shadow: 2px 2px 1px #ccc;
}
/*El !importan me hace que sea mas especifico */
.navbar-nav .active{
   border-bottom: 3px solid orange !important;
}
/* Ponemos el transparen para que no cambie de tamaño los menus cuando pasamos de uno a otro*/
.navbar-default .navbar-nav>li>a{
    transition: all 300ms;
    border-bottom: 3px solid transparent;
 }

 .navbar-default .navbar-nav>li>a:hover{
    transition: all 300ms;
    border-bottom: 3px solid orange;
 }