<div class="col-lg-7 col-lg-offset-2" [@fadeIn]>
    <div class="jumbotron">
        <h1>{{title}}</h1>
        <p>Todo ángel necesita de un demonio que le invite a café</p>
        <p>
            <a class="btn btn-primary btn-lg" role="button" [routerLink]="['/tomarcafe']">
                Tomar Café
            </a>
            <a class="btn btn-success btn-lg" role="button" [routerLink]="['/historico']">
                Histórico
            </a>
            <a class="btn btn-warning btn-lg" role="button" [routerLink]="['/cafeteros']">
                Cafeteros
            </a>
        </p>
    </div>
</div>
