<div class="navigation col-lg-12">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a [routerLink]="'/home'" class="navbar-brand">{{title}}</a>
      </div>
      <ul class="nav navbar-nav">
        <li>
          <a [routerLink]="['/home']" [routerLinkActive]="['active']">
            <span class="glyphicon glyphicon-home"></span>
            Inicio
          </a>
        </li>
        <li><a [routerLink]="'/cafeteros'" [routerLinkActive]="['active']">
          <span class="glyphicon glyphicon-star"></span>  
            Cafeteros
            </a>
          </li>
        <li><a [routerLink]="'/tomarcafe'" [routerLinkActive]="['active']">
            <span class="glyphicon glyphicon-ice-lolly-tasted"></span>
            Tomar Café
          </a>
        </li>
        <li><a [routerLink]="'/historico'" [routerLinkActive]="['active']">
          <span class="glyphicon glyphicon-signal"></span><!--icon-signal-->
          Histórico
        </a>
        </li>
        <li><a [routerLink]="'/contacto'" [routerLinkActive]="['active']">
            <span class="glyphicon glyphicon-comment"></span>
            Contacto
          </a>
        </li>
      </ul>
      <!--El right me hace que el navbar se pegue a la derecha -->
      <ul class="nav navbar-nav navbar-right" *ngIf="!identity">
        <li>
          <a [routerLink]="['/registro']" [routerLinkActive]="['active']">
            <span class="glyphicon glyphicon-user"></span>
            Registro
          </a>
        </li>
        <li>
          <a [routerLink]="['/login']" [routerLinkActive]="['active']">
            <span class="glyphicon glyphicon-log-in"></span>
            Login
          </a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right" *ngIf="identity">
        <!--<li class ="avatar">
            <img src="{{ url + 'get-image-file/' + identity.image}}"/>
        </li>-->

        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            {{identity.name}} <span class="caret"></span>
          </a>

          <ul class="dropdown-menu">
              <li *ngIf="identity && identity.role == 'ROLE_ADMIN'">
                <a [routerLink]="['/admin-panel']">
                  <span class="glyphicon glyphicon-tasks"></span>
                  Panel de Administración
                </a>
              </li>
              <li>
                <a [routerLink]="['/mis-datos']">
                    <span class="glyphicon glyphicon-cog"></span>
                  Mis Datos</a>
              </li>
              <li>
                <a class="pointer" (click)="logout()">
                    <span class="glyphicon glyphicon-log-out"></span>
                  Salir</a>
              </li>
          </ul>
        </li>
      </ul>

    </div>
  </nav>
</div>

<div class="col-lg-11">
    <router-outlet></router-outlet>
</div>



