<div class="col-lg-6">
  <h1>{{title}}</h1>
  
  <div class="alert alert-success col-lg-7" *ngIf="status == 'success'" >
      Login correcto!
  </div>
  <div class="alert alert-danger col-lg-7" *ngIf="status == 'error'">
     No te has identificado correctamente
  </div>

  <form #loginForm="ngForm" (ngSubmit)="onSubmit()" class="col-lg-7">
      <p>
          <label>Correo Electrónico</label>
          <input type="email" name="email" #email="ngModel" [(ngModel)]="user.email" class="form-control" required />
          <span *ngIf="!email.valid && email.touched">
              El email es obligatorio
          </span>
      </p>
      <p>
          <label>Contraseña</label>
          <input type="password" name="password" #password="ngModel" [(ngModel)]="user.password" class="form-control" required />
          <span *ngIf="!password.valid && password.touched">
                  La contraseña es obligatorio
              </span>
      </p>
      <input type="submit" value="Entrar" class="btn btn-success"/>
  </form>
</div>
