<div class="col-lg-12">
  <table class="table table-hover">
    <thead class="thead-defaul">
      <tr>
          <th>Pagador</th>
          <th>Fecha</th>
          <th>Pagado</th>
          <th>Opciones</th>
      </tr>
    </thead>
    
    <tbody>
      <tr *ngFor = "let round of rounds | search:path:order; let i = index">
        <td>{{ round.payer.email }}</td>
        <td>{{ round.date | date:'mediumDate'}}</td>
        <td>{{ round.consumed }}</td>
        <td>
          <a href="#myModalInfo-{{round._id}}" role="button" data-toggle="modal" class="btn btn-sm btn-success" (click)="selectRound(round._id)">
            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
            Ver
          </a>
          <!-- Modal html-->
          <div id="myModalInfo-{{round._id}}" class="modal fade" *ngIf="selectedRound && selectedRound==round._id">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h4 class="modal-title">Ronda</h4>
                  </div>
                  <div class="modal-body" *ngIf="selectedRound && selectedRound==round._id">
                    <div class="container-fluid">
                        <p>
                            <app-round-detail
                                [id]=round._id 
                            ></app-round-detail>
                        </p>
                    </div>
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                      <button type="button" [disabled]="!amIAdministrator" class="btn btn-danger" (click)="deleteRound(round._id)" data-dismiss="modal">Eliminar</button>
                  </div>
              </div>
          </div>
        </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>