<div class="col-lg-12">
    <div class="col-lg-4">
        <h3>Cafeteros</h3>
        <ul class="list-group" >
            <li class="list-group-item" *ngFor = 'let user of coffeeTakers; let i = index' (click)='selectCoffee(i)'>
            <span class="badge">{{user.ratio | number:'1.1-3'}}</span>
            {{user.name}}
            </li>
        </ul>
    </div>

    <div class="col-lg-8">
        <h3>Fecha</h3>
        <input type="date" name="date" [value]="date | date:'yyyy-MM-dd'"  (input)="date=parseDate($event.target.value)"/>
    </div>
    
</div>

<div class="col-lg-12">
  <h3>Hoy toman café...</h3>
  <table class="table table-hover">
    <thead class="thead-defaul">
        <tr>
            <th>Nombre</th>
            <th>Tomados</th>
            <th>Pagados</th>
            <th>Grupo</th>
            <th>Ratio (Pagados / Tomados)</th>
        </tr>
    </thead>
    <tbody>
        <tr  *ngFor = "let user of selectedCoffeeTakers; let i = index">
            <td>{{user.name}}</td>
            <td>{{user.consumed}}</td>
            <td>{{user.paid}}</td>
            <td>{{user.project}}</td>
            <td>{{user.ratio | number:'1.1-3'}}</td>
            <td>
                <a href="#myModal-{{user._id}}" role="button" data-toggle="modal" class="btn btn-sm btn-success">
                    <span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span>
                    Pagar
                </a>
                <button type="button" class="btn btn-sm btn-danger" aria-hidden="true" (click)="deleteSekected(i)">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>  
                  Eliminar
                </button>
                
            <!-- Modal html-->
            <div id="myModal-{{user._id}}" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">¿Estás seguro?</h4>
                        </div>
                        <div class="modal-body">
                            <p>¿Desea que pague <strong>{{user.name}}</strong>?</p>
                            <p class="text-warning"><small>Si pagas ahora no podrás echarte atrás</small></p>
                            <ul class="list-group" >
                                <li class="list-group-item" *ngFor = 'let user of selectedCoffeeTakers; let i = index'>
                                  <span class="badge">{{user.ratio | number:'1.1-3'}}</span>
                                  {{user.name}}
                                </li>
                            </ul>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                            <button type="button" class="btn btn-success" (click)="pagarRonda(user._id)" data-dismiss="modal">Pagar</button>
                        </div>
                    </div>
                </div>
            </div>
            </td>
        </tr>
    </tbody>
  </table>
</div>
