<div>
    <div>
        <table class='table borderless'>
            <tbody *ngIf="selectedRound">
              <tr>
                <td><span class="glyphicon glyphicon-calendar"></span></td>
                <td>{{selectedRound.date | date:'mediumDate'}}</td>
              </tr>
              <tr>
                  <td><span class="glyphicon glyphicon-user"></span></td>
                  <td>{{selectedRound.payer.email}}</td>
              </tr>
              <tr>
                  <td><span class="glyphicon glyphicon-asterisk"></span></td>
                  <td><tr *ngFor = "let diner of selectedRound.diner">
                      <td>{{diner.email}}</td>
                  </tr></td>
              </tr>
              <tr>
                  <td><span class="glyphicon glyphicon-bitcoin"></span></td>
                  <td>{{selectedRound.consumed}}</td>
              </tr>
            </tbody>
          </table>  
    </div>
      
</div>
